@media screen and (min-width: 600px) {

  html, body {
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
  }
  
	body {
		width:100vw;
		height:100vh;
		background-color: lightgrey;
		background-attachment: fixed;
	}

	footer {
    position: fixed;
    display: flex;
    flex-direction: row;
		font-family: 'Cotham Sans';
    width: 100%;
    height: 15vh;
    overflow: hidden;
    padding: 1vw;
    padding-bottom: 0.5vh;
    background-color: mediumseagreen;
    z-index: 1000;
    line-height: 150%;
    transition: 1s ease-in;
    bottom: -27vh;

	}
	footer p {
    margin-top: 0vh !important;
    font-size: 1.5vw !important;
    line-height: 160% !important;
	}

  .contact_visible {
    bottom: 0vh;
  }

  footer p a {
    border: 1px solid black;
    border-radius: 5vw;
    padding: 0.3vw;
    font-weight: normal;
    text-decoration: none;
    color: white;
    background-color: black;
  }

  footer p a:hover {
    background-color: white;
    color: black;
  }

  a {
	color: mediumseagreen;
	font-weight: bold;
  text-decoration: none;
  }

  .menu_wrapper {
  	position: fixed;
    top: 6.5vh;
  	width: 100vw;
    display: flex;
    flex-direction: row;
    z-index: 10000;
  }

  .menu {
    display: flex;
    flex-direction: row;
    width: 99vw;
    justify-content: space-between;
  }

  #menu_full {
    display: flex;
    flex-direction: row;
    width : 100vw;
    justify-content: space-between;
    z-index: 10000 !important;
    border-bottom: 1px solid black;
  }

  #menu_full > * {
    padding-top: 1vw;
    padding-bottom: 1vw;
    padding-left: 2vw;
    padding-right: 2vw;
    background-color: lightgrey;
    font-family: 'Avara';
    font-size: 1.5vw;
    border-right: 1px solid black;
    flex-grow: 2;
    text-align: center;
    z-index: 1000 !important;
  }

  #block_logo > img {
	max-width: 4vh;
	max-height: 4vh;
    margin-right: 1vw;
  }

  #block_logo {
    display: flex;
    flex-direction: row;
    padding-right : 2vw !important;
    padding-top: 1vw;
    padding-bottom: 1vw;
    padding-left: 1vw;
    flex-grow: 0 !important;
    text-align : left;
    font-family: 'Cotham Sans' !important;
  }

  #block_project:hover, #block_about:hover, #block_contact:hover {
    background-color: white;
    color: black;
  }

  #block_language {
    display: flex;
    flex-direction: row;
    width: 10vw;
    justify-content: space-around;
    border-right: 0px solid white !important;
    background-color: grey !important;
    font-family: 'Cotham Sans' !important;
    font-size: 1.2vw !important;
    color: white !important;
  }

  #block_language > * {
    border: 1px solid white;
    border-radius: 100px;
    padding: 0.5vw;
    padding-top: 0.8vw;
  }

  #block_language > div:hover {
    background-color: white;
    border: 1px solid black;
    color: black;
  }

  .projets {
    margin-right: 6.5vw;
  }

  .logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0.5vw;
    margin-right: 3vw;
    text-decoration: none;
  }

  .logo > img {
    width: 2.3vw;
    height: 3.85vw;
  }

  #texte_logo {
    position: fixed;
    top:0;
    width: 200vw;
    height: 6.5vh;
    display:flex;
    flex-direction: row;
    background-color: mediumseagreen;
    overflow-y: hidden;
    z-index:  100;
  }

  .titre_logo {
    font-family: 'Avara';
    font-size: 1.6vw;
  }

  .desc_logo {
    font-family: 'Cotham Sans';
    font-size: 1.25vw;
    line-height: 110%;
    display: block;
	overflow: hidden;
	position: relative;
	table-layout: fixed;
  }


  .desc_defile {
    display: block;
    height: 6.5vh;
    padding-top: 2vh;
    margin-left:-100%;
    -moz-animation: marquee 45s linear infinite;
    -webkit-animation: marquee 45s linear infinite;
    animation: marquee 45s linear infinite;
  }

  .desc_defile:after {
    content:attr(data-text);
  	position:absolute;
  	white-space:nowrap;
  	padding-left:5px;
}



  @-moz-keyframes marquee {
      0%, 100% {margin-left:0;}
      99.99% {margin-left:-100%;}
  }
  @-webkit-keyframes marquee {
      0%, 100% {margin-left:0;}
 	    99.99% {margin-left:-100%;}
  }
  @keyframes marquee {
      0%, 100% {margin-left:0;}
 	    99.99% {margin-left:-100%;}
  }

  @-moz-keyframes marqueeRight {
      0%, 100% {margin-left:1%;}
      99.99% {margin-left:30%;}
  }
  @-webkit-keyframes marqueeRight {
      0%, 100% {margin-left:1%;}
 	    99.99% {margin-left:30%;}
  }
  @keyframes marqueeRight {
      0%, 100% {margin-left:1%;}
 	    99.99% {margin-left:30%;}
  }

  #texte_logo > img {
    position: fixed;
    left: 0;
    top: 0;
    padding: 0.5vw;
    width: 1.3vw;
    background-color: mediumseagreen;
    z-index: 100;
  }

  .item_menu {
    font-family: 'Cotham Sans';
    font-size: 1.2vw;
    display: inline-block;
    padding: 1.5vw;
  }
  .item_menu.project {
  	padding: 1.5vw 0 1.5vw 0;
  }

  .link:first-of-type {
    margin-right: 15vw;
  }
  .item_menu a {
  	margin: 0;
  	padding-top: 0;
    padding-bottom: 0;
    font-weight: normal;
    text-decoration: none;
  }
  .item_menu img {
  	background: #000;
  	width: 4vw;
  	height: 4vw;
    margin: 0.1vw;
  }
  .item_menu img.hover {
  	position: absolute;
  	margin-left: -4.1vw;
  	filter: opacity(0);
  	transition: .5s;
  }
  @keyframes desc_apparition {
    from {color: rgba(255,255,255,0); background: rgba(0,0,0,1);}
    to {color: rgba(0,0,0,1); background: rgba(255,255,255,1);}
  }
  .item_menu .desc {
  	position: absolute;
  	padding: .5vw;
  	display: none;
  	color: rgba(255,255,255,0);
  	background: rgba(0,0,0,1);
  	margin: -2px 0 0 0;
  }

  .desc > .fr {
    font-size: 1vw;
  }

  .desc > .en {
    font-size: 1.15vw;
  }

  .desc_fr, .desc_nl, .desc_en {
    padding-right: 1vw;
  }

  .desc_fr > div, .desc_nl > div, .desc_en > div {
    width: 20vw;
    margin-left: 1vw;
    margin-right: 1vw;

  }


  .content {
    display: flex;
    flex-direction: column;
  }

  #intro {
    position: fixed;
    padding: 3vw;
    padding-top: 19vh;
    filter: blur(0px);
    transition: 1s ease-in;
    z-index:  0;
  }

  .intro_blur {
    filter: blur(10px) !important;
  }

  .intro > div.fr {
    font-size: 6vw;
    line-height: 125%;
    color: white;
  }

  .intro > * {
  }

  .intro > img {
    position: absolute;
    width: 5vw;
    height: 5vw;
  }

  .border_text {
    -webkit-text-stroke: 1px black;
    display: inline-block;
  }


  #right {
    padding: 1vw;
    padding-top: 4vh;
    margin-top: 0vh;
    background-color: black;
    width: 100vw;
    color: white;
    z-index: 0 !important;
    position: fixed;
    top: 105vh;
    transition: 1s ease-in;
    height: 82vh;
    overflow-y: scroll;
    box-shadow: -1px 2px 17px 12px rgba(211,211,211,0.75);
    -webkit-box-shadow: -1px 2px 17px 12px rgba(211,211,211,0.75);
    -moz-box-shadow: -1px 2px 17px 12px rgba(211,211,211,0.75);
    
  }

  .rightHaut {
    top: 15vh !important;

  }

  .left {
    display: flex;
    flex-direction: column;
    margin-top:  16vh;
    z-index:  2;
  }

 

  .liens {
    margin-left: 4vw;
    width: 3vw;
  }

  .margin_title {
    padding-top: 17vh;
  }


 

  .right > .titles  > h1 {
    font-size: 2.5vw;
    line-height: 1.5vw;
    font-weight: normal; 
    font-family: 'Cotham Sans';
  }



  .presentations, .philo, .whatwecando, .whatwewanttodo, .crew {
    display: flex;
    flex-direction: row;
  }

  .bloc_texte {
    display: flex;
    flex-direction: column;
  }

  .fr {
    font-family: 'Avara';
  }

  .fr > p, .nl > p, .en > p {
    font-size: 1.3vw !important;
    margin-left: 7vw !important;
    width: 30vw !important;
    margin-bottom: 0vh !important;
    margin-top: 0vh !important;
    font-family: 'Avara' !important;
  }

  .fr > p:last-of-type, .nl > p:last-of-type, .en > p:last-of-type {
    margin-bottom: 8vh !important;
  }

  div.fr {
    font-size: 0.85vw;
  }


  div.fr > p, div.nl > p, div.en > p {
    line-height: 135%;
  }

  p {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .content p, .content ul {
    font-size: 1.5vw;
    width: 25vw;
    padding: 1vw;
    margin-right: 1vw;
    list-style-type: none;
  }

  .en > ul > li {
    line-height: 135%;
  }

  .fr > ul > li {
    font-size: 1.3vw;
    list-style-type: none;
  }

  .right li {
    margin-left: 5vw;
  }

  .fr > ul:last-of-type {
    margin-bottom: 8vh;
  }

  .no_list::before {
    content: "- " !important;
  }

  .right li::before {
  	content: "-";
  	position: absolute;
  	margin: 0 0 0 -2vw;
  	color: mediumseagreen;
  }

  .right img.profile {
    width: 5vw;
    height: 7vw;
    margin-left: -6vw;
    display: block;
    background: #999;
    margin-top: 3svh;
    margin-bottom: -8vh;
  }

  h1, h2 {
    margin-left: 1vw;
    margin-top: 3vh;
  }

  h3 {
    font-family: 'Avara' !important;
    font-size: 1.3vw;
    margin-left: 7vw;
    text-decoration: underline;
  }

  .projet {
    font-family: 'Cotham Sans';
    font-size: 2.5vw;
    padding: 2vw;
    width: 60vw;
    border-bottom: 1px solid black;
  }

  #menu_deroulant {
    display: none;
  }

  #proj {
    position: fixed;
    width: 100%;
    font-family: Avara;
    font-size: 1.3vw;
    padding: 1vw;
    background-color: black;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    height: 3.5vh;
    top: 80.2vh;
    z-index: 1000;
    transition: 1s ease-in;
    color: white;
  }

  #about {
    position: fixed;
    width: 100%;
    font-family: Avara;
    font-size: 1.3vw;
    padding: 1vw;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    background-color: black;
    height: 3vh;
    top: 87.6vh;
    z-index: 10000;
    transition: 1s ease-in;
    color: white;
  }

  #project_tabs {
    position: fixed;
    top: 86.2vh;
    transition: 1s ease-in;
  }

  @-webkit-keyframes movement /* Safari and Chrome */ {
  from {
    -ms-transform: translate(0vw, 0vh);
    -moz-transform: translate(0vw, 0vh);
    -webkit-transform: translate(0vw, 0vh);
    -o-transform: translate(0vw, 0vh);
    transform: translate(0vw, 0vh);
  }
  25% {
    -ms-transform: translate(2.5vw, -2.5vh);
    -moz-transform: translate(2.5vw, -2.5vh);
    -webkit-transform: translate(2.5vw, -2.5vh);
    -o-transform: translate(2.5vw, -2.5vh);
    transform: translate(2.5vw, -2.5vh);
  }
  50% {
    -ms-transform: translate(5vw, 0vh);
    -moz-transform: translate(5vw, 0vh);
    -webkit-transform: translate(5vw, 0vh);
    -o-transform: translate(5vw, 0vh);
    transform: translate(5vw, 0vh);
  }
  75% {
    -ms-transform: translate(2.5vw, 2.5vh);
    -moz-transform: translate(2.5vw, 2.5vh);
    -webkit-transform: translate(2.5vw, 2.5vh);
    -o-transform: translate(2.5vw, 2.5vh);
    transform: translate(2.5vw, 2.5vh);
  }
  to {
    -ms-transform: translate(0vw, 0vh);
    -moz-transform: translate(0vw, 0vh);
    -webkit-transform: translate(0vw, 0vh);
    -o-transform: translate(0vw, 0vh);
    transform: translate(0vw, 0vh);
  }
}
@keyframes movement {
  from {
    -ms-transform: translate(0vw, 0vh);
    -moz-transform: translate(0vw, 0vh);
    -webkit-transform: translate(0vw, 0vh);
    -o-transform: translate(0vw, 0vh);
    transform: translate(0vw, 0vh);
  }
  25% {
    -ms-transform: translate(2.5vw, -2.5vh);
    -moz-transform: translate(2.5vw, -2.5vh);
    -webkit-transform: translate(2.5vw, -2.5vh);
    -o-transform: translate(2.5vw, -2.5vh);
    transform: translate(2.5vw, -2.5vh);
  }
  50% {
    -ms-transform: translate(5vw, 0vh);
    -moz-transform: translate(5vw, 0vh);
    -webkit-transform: translate(5vw, 0vh);
    -o-transform: translate(5vw, 0vh);
    transform: translate(5vw, 0vh);
  }
  75% {
    -ms-transform: translate(2.5vw, 2.5vh);
    -moz-transform: translate(2.5vw, 2.5vh);
    -webkit-transform: translate(2.5vw, 2.5vh);
    -o-transform: translate(2.5vw, 2.5vh);
    transform: translate(2.5vw, 2.5vh);
  }
  to {
    -ms-transform: translate(0vw, 0vh);
    -moz-transform: translate(0vw, 0vh);
    -webkit-transform: translate(0vw, 0vh);
    -o-transform: translate(0vw, 0vh);
    transform: translate(0vw, 0vh);
  }
}


  .projHaut {
    top: 6.5vh !important;
  }

  .projectTabsHaut {
    top: 13.2vh !important;
  }

  .aboutHaut {
    top: 13.5vh !important;
  }



  .project_hidden {
    opacity : 0 !important;
  }

  .project {
    border-bottom: 1px solid black;
    transition: 1s ease-in;
    background-color: transparent;
    padding: 1vw;
    transition: 1s ease-in;
    position: relative;
  }

  .project:last-of-type {
    border-bottom: 0px solid transparent;
  }

  .project_deployed {

    z-index: 11000 !important;
  }

  .project_desc {
    font-family: 'Cotham Sans';
    font-size: 2vw;
    position: fixed;
    left: 76vw;
    top: 25vh;
    display : none;
    width: 16vw;
    border: 1px solid white;
     box-shadow: 4px 5px 17px -2px rgba(60,179,113,0.75);
    -webkit-box-shadow: 4px 5px 17px -2px rgba(60,179,113,0.75);
    -moz-box-shadow: 4px 5px 17px -2px rgba(60,179,113,0.75);
  }

  .project_desc_visible {
    display: inline-block;
    
  }

  video {
    max-width: 60vw;
  }

  p > img {
    margin-left: -5vw;
  }

  .close {
    color: transparent;
    position: fixed;
    left: 90vw;
    top: 22vh;
    font-family: 'Cotham Sans';
    font-size: 1.8vw;
    border-radius: 150px;
    padding: 0.6vw;
    padding-left: 1.15vw;
    padding-right: 1.15vw;

  }

  .close:hover {
    cursor: pointer;
  }

  .close_visible {
    color: black !important;
    background-color: red !important;
    box-shadow: 4px 5px 17px -2px rgba(60,179,113,0.75);
    -webkit-box-shadow: 4px 5px 17px -2px rgba(60,179,113,0.75);
    -moz-box-shadow: 4px 5px 17px -2px rgba(60,179,113,0.75);
  }

	.project_img {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    transition: 1s ease-in;
    justify-content: flex-start;
  }

  .project_img_visible {
    width: 70vw !important;
    padding-top:  14vh !important;
  }

  .img_proj {
    height: 7vh;
    width: auto;
    transition: height 0.25s ease-in;
    margin: 0.5vw;
    align-self: flex-start;
  }

  .img_proj:hover {
    cursor: pointer;
  }

  .img_deployed {
    height: 65vh !important;
    width: auto !important;
    margin: 1vw !important;
    z-index:  100000;
  }

  

  .project_title {
    font-family: 'Cotham Sans';
    font-size: 1.5vw;
    background-color: grey;
    color: white;
    padding: 1vw;
    border-bottom: 1px solid white;
    
  }

  .project_text {
    margin-left: 0vw;
    font-family: 'Avara';
    background-color: grey;
    color: white;
    padding: 1vw ;
  }

  .project_text > p {
    width: 12vw;
    margin: 0;
    font-size: 0.8vw ;
    padding : 0;
    padding-bottom: 1vh;
  }

  .project_text > p:last-of-type {
    padding-bottom: 0vh;
  }


}

@media screen and (max-width: 600px) {
  html, body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
  }

  a {
  	color: mediumseagreen;
  	font-weight: normal;
  }

    #intro {
    position: fixed;
    padding: 3vw;
    padding-top: 2vh;
    filter: blur(0px);
    transition: 1s ease-in;
    width: 95vw;
    height: 85vh;
  }

    .border_text {
    -webkit-text-stroke: 1px black;
    display: inline-block;
  }

  .intro_blur {
    filter: blur(10px) !important;
  }

  .intro > div.fr {
    font-size: 9.5vw;
    line-height: 125%;
    color: white;
  }

  #intro_text > div {
    display: inline-block;
  }

   .desc_logo {
    display: block;
    font-family: 'Cotham Sans';
    font-size: 7vw;
    line-height: 110%;
    display: block;
    margin: 0vw;
    margin-left: 0vw;
    overflow: hidden;
    table-layout: fixed;
    color: black;
    z-index:  100;
  }


  .desc_defile {
    display: none;
    margin: 0;
    margin-left:-100%;
    width: 900%;
    padding: 1.2vh;
    background-color: mediumseagreen;
    -moz-animation: marquee 15s linear infinite;
    -webkit-animation: marquee 15s linear infinite;
    animation: marquee 15s linear infinite;
    overflow-x: hidden;
  }

  .desc_defile:after {
    content:attr(data-text);
    position:absolute;
    white-space:nowrap;
    padding-left:5px;
}



  @-moz-keyframes marquee {
      0%, 100% {margin-left:0;}
      99.99% {margin-left:-100%;}
  }
  @-webkit-keyframes marquee {
      0%, 100% {margin-left:0;}
      99.99% {margin-left:-100%;}
  }
  @keyframes marquee {
      0%, 100% {margin-left:0;}
      99.99% {margin-left:-100%;}
  }

  @-moz-keyframes marqueeRight {
      0%, 100% {margin-left:1%;}
      99.99% {margin-left:30%;}
  }
  @-webkit-keyframes marqueeRight {
      0%, 100% {margin-left:1%;}
      99.99% {margin-left:30%;}
  }
  @keyframes marqueeRight {
      0%, 100% {margin-left:1%;}
      99.99% {margin-left:30%;}
  }

  @-webkit-keyframes movement /* Safari and Chrome */ {
  from {
    -ms-transform: translate(0vw, 0vh);
    -moz-transform: translate(0vw, 0vh);
    -webkit-transform: translate(0vw, 0vh);
    -o-transform: translate(0vw, 0vh);
    transform: translate(0vw, 0vh);
  }
  25% {
    -ms-transform: translate(2.5vw, -2.5vh);
    -moz-transform: translate(2.5vw, -2.5vh);
    -webkit-transform: translate(2.5vw, -2.5vh);
    -o-transform: translate(2.5vw, -2.5vh);
    transform: translate(2.5vw, -2.5vh);
  }
  50% {
    -ms-transform: translate(5vw, 0vh);
    -moz-transform: translate(5vw, 0vh);
    -webkit-transform: translate(5vw, 0vh);
    -o-transform: translate(5vw, 0vh);
    transform: translate(5vw, 0vh);
  }
  75% {
    -ms-transform: translate(2.5vw, 2.5vh);
    -moz-transform: translate(2.5vw, 2.5vh);
    -webkit-transform: translate(2.5vw, 2.5vh);
    -o-transform: translate(2.5vw, 2.5vh);
    transform: translate(2.5vw, 2.5vh);
  }
  to {
    -ms-transform: translate(0vw, 0vh);
    -moz-transform: translate(0vw, 0vh);
    -webkit-transform: translate(0vw, 0vh);
    -o-transform: translate(0vw, 0vh);
    transform: translate(0vw, 0vh);
  }
}
@keyframes movement {
  from {
    -ms-transform: translate(0vw, 0vh);
    -moz-transform: translate(0vw, 0vh);
    -webkit-transform: translate(0vw, 0vh);
    -o-transform: translate(0vw, 0vh);
    transform: translate(0vw, 0vh);
  }
  25% {
    -ms-transform: translate(2.5vw, -2.5vh);
    -moz-transform: translate(2.5vw, -2.5vh);
    -webkit-transform: translate(2.5vw, -2.5vh);
    -o-transform: translate(2.5vw, -2.5vh);
    transform: translate(2.5vw, -2.5vh);
  }
  50% {
    -ms-transform: translate(5vw, 0vh);
    -moz-transform: translate(5vw, 0vh);
    -webkit-transform: translate(5vw, 0vh);
    -o-transform: translate(5vw, 0vh);
    transform: translate(5vw, 0vh);
  }
  75% {
    -ms-transform: translate(2.5vw, 2.5vh);
    -moz-transform: translate(2.5vw, 2.5vh);
    -webkit-transform: translate(2.5vw, 2.5vh);
    -o-transform: translate(2.5vw, 2.5vh);
    transform: translate(2.5vw, 2.5vh);
  }
  to {
    -ms-transform: translate(0vw, 0vh);
    -moz-transform: translate(0vw, 0vh);
    -webkit-transform: translate(0vw, 0vh);
    -o-transform: translate(0vw, 0vh);
    transform: translate(0vw, 0vh);
  }
}

  .projects {
    overflow-x: hidden;
    margin-top: 11vh;
    display: flex;
    flex-direction:  row;
  }

  .project_hidden {
    opacity : 0 !important;
  }

  .project {

    transition: 1s ease-in;
    background-color: transparent;
    transition: 1s ease-in;
  }

  .project_deployed {
    animation : none !important;
    background-color: transparent !important;
    z-index: 11000000 !important;
    display: flex;
    flex-direction: column;
    margin-bottom: 3vh;
    width:  100vw;
  }

  .project_desc {
    font-family: 'Cotham Sans';
    font-size: 4.5vw;
    display : none;
    border-bottom: 1px solid white;
    width:  100vw;
  }

  .project_desc_visible {
    display: inline-block;

  }

  video {
    max-width: 90vw;
  }

  p > img {
    margin-left: -5vw;
  }

  .close {
    color: transparent;

    margin-left: 85vw;
    font-family: 'Cotham Sans';
    font-size: 8vw;
    border-radius: 150px;
    padding: 1vh;
    z-index: 100000000;
    display:  none;
    margin-top:  -4vh;
    width:  9vw;
    text-align: center;
  }

  .close:hover {
    cursor: pointer;
  }

  .close_visible {
    color: black !important;
    display:  inline-block;
    background-color: red !important;
    box-shadow: 4px 5px 17px -2px rgba(60,179,113,0.75);
    -webkit-box-shadow: 4px 5px 17px -2px rgba(60,179,113,0.75);
    -moz-box-shadow: 4px 5px 17px -2px rgba(60,179,113,0.75);
  }

  .project_img {
    display: flex;
    flex-direction: row;
    transition: 1s ease-in;
    flex-wrap: wrap;
    padding:  1vh;
    border-bottom:  1px solid black;
    justify-content: center !important;
    align-items: center;
    z-index:  -1;
  }

  .project_img_visible { 
    flex-wrap: nowrap !important;  
    margin-bottom: 3vh;
    flex-direction:  column !important;
    justify-content: center !important;
    align-items: center;
    z-index:  10000000 !important;
  }

  .img_proj {
    height: 8vh;
    width: auto;
    transition: height 0.25s ease-in;
    margin: 1vh;
    align-self: flex-start;
  }

  .img_deployed {
    height: auto !important;
    width: 94vw !important;
    margin: 1vw !important;
    margin-bottom: 1.5vh !important;
    z-index:  10000000 !important;
  }

  .project_title {
    font-family: 'Cotham Sans';
    font-size: 5vw;
    background-color: grey;
    color: white;
    padding: 1vh;
    padding-top: 2vh;
  }

  .project_title > span {
    max-width: 60vw;
  }

  .project_text {
    margin-left: 0vw;
    font-family: 'Avara';
    background-color: grey;
    color: white;
    padding: 1vw ;
    border-top: 1px solid white;
    max-height:  30vh;
    overflow-y: scroll;
  }

  .project_text > p {
    width: 65vw;
    margin: 0;
    font-size: 3.5vw ;
    padding : 1vh;
    padding-bottom: 2vh;
    overflow-y:  scroll;
  }

  .project_text > p:last-of-type {
    padding-bottom: 0vh;
  }

  .menu_wrapper {
  	background: rgba(255,255,255,1);
  	width: 100%;
    top: 7vh;
    z-index:  100;
  }

  .menu {
    display: flex;
    flex-direction: column;
    width: 96vw;
    justify-content: space-between;
    height: fit-content;
  }

  #menu_full {
    display: flex;
    flex-direction: row;
    width : 100vw;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 100 !important;
  }

  #menu_full > * {
    padding-top: 1vw;
    padding-bottom: 1vw;
    padding-left: 2vw;
    padding-right: 2vw;
    background-color: lightgrey;
    font-family: 'Avara';
    font-size: 5.5vw;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    flex-grow: 2;
    text-align: center;
    z-index: 100 !important;
  }

  #menu_full > div:nth-of-type(3) {
    border-right: 0px solid black !important;
  }

  #block_logo > img {
    width: 4.5vh;
    height: 4.5vh;
    margin-right: 1vw;
  }

  #block_logo {
    display: flex;
    flex-direction: row;
    padding-right : 2vw !important;
    padding-top: 1vw;
    padding-bottom: 1vw;
    padding-left: 2vw;
    flex-grow: 0 !important;
    text-align : left;
  }

  #block_project:hover, #block_about:hover, #block_contact:hover {
    background-color: white;
    color: black;
  }

  #block_language {
    display: flex;
    flex-direction: row;
    width: 10vw;
    justify-content: space-around;
    border-right: 0px solid white !important;
    background-color: grey !important;
    font-family: 'Cotham Sans' !important;
    font-size: 4vw !important;
    color: white !important;
  }

  #block_language > * {
    border: 1px solid white;
    border-radius: 100px;
    padding: 0.75vw;
    padding-top: 1.2vw;
    align-self: center;
  }

  #block_language > div:hover {
    background-color: white;
    border: 1px solid black;
    color: black;
  }

  .menu_visible {
    display: flex !important;
  }

  #menu_deroulant {
    margin-left: 54vw;
    margin-top: -0.3vh;
    font-size: 7vw;
    display: flex;
    flex-direction: column;
    line-height: 50%;
    height: 5vh;
  }

  .item_menu.link_screen {
    display: none !important;
  }

  footer {
    position: fixed;
    display: flex;
    flex-direction: row;
    font-family: 'Cotham Sans';
    width: 120%;
    height: 15vh;
    overflow: hidden;
    padding: 2vw;
    padding-bottom: 0.5vh;
    background-color: mediumseagreen;
    z-index: 1000;
    line-height: 150%;
    transition: 1s ease-in;
    bottom: -27vh;

  }
  footer p {
    margin-top: 0vh !important;
    font-size: 4vw !important;
    line-height: 150% !important;
    width: 100% !important;
  }

  .contact_visible {
    bottom: -1vh;
  }

  footer p a {
    border: 1px solid black;
    border-radius: 5vw;
    padding: 0.3vw;
    font-weight: normal;
    text-decoration: none;
    color: white;
    background-color: black;
  }

  footer p a:hover {
    background-color: white;
    color: black;
  }

  a {
  color: mediumseagreen;
  font-weight: bold;
  text-decoration: none;
  }

  .logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 3vw;
  }

  .logo > img {
    margin-top: 0.6vh;
    width: 6vw;
    height: 9.5vw;
  }

  .texte_logo {
    font-family: 'Avara';
    font-size: 5vw;
    margin-left: 2vw;
    margin-right: 1vw;
  }



  .link {
    margin-top: 3vh;
  }
  .item_menu a {
  	margin: 0;
  	padding: 0;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    font-weight: normal;
  }
  .item_menu img {
  	background: #000;
  	width: 15vw;
  	height: 15vw;
  }
  .item_menu img.hover {
  	position: absolute;
  	margin-left: 0vw;
  	filter: opacity(0);
  	transition: .5s;
  }
  @keyframes desc_apparition {
    from {color: rgba(255,255,255,0); background: rgba(0,0,0,1);}
    to {color: rgba(0,0,0,1); background: rgba(255,255,255,1);}
  }

  .desc {
  	display: none;
  }

  .desc_fr, .desc_nl, .desc_en {
    margin-top: 2vh;
  }

  .desc_nl > div{
    width: 75vw;
    margin-left: 19vw;
    margin-right: 1vw;
  }

  .desc_fr > div{
    width: 75vw;
    margin-left: 12vw;
    margin-right: 1vw;
  }

  .desc_en > div{
    width: 75vw;
    margin-left: 12vw;
    margin-right: 1vw;
  }


  .item_menu:hover img.hover {
  	filter: opacity(100);
  	transition: .1s;
    margin-left: -15vw;
  }
  .item_menu:hover .desc {
  	display: block;
  	color: rgba(0,0,0,1);
  	background: rgba(255,255,255,.9);
  	animation-name: desc_apparition;
  	animation-duration: .5s;
  }
  .item_menu a.selected {
  	border-bottom: .1vw solid #000;
  }

  @keyframes link_apparition {
    from {color: rgba(0,0,0,1); background: rgba(255,255,255,1);}
    to {color: rgba(255,255,255,1); background: rgba(0,0,0,1);}
  }
  .item_menu.link:hover {
  	background: rgba(255,255,255,1);
  	color: rgba(0,0,0,1);
  	cursor: pointer;
  }
  .item_menu.link:hover {
  	background: rgba(0,0,0,1);
  	color: rgba(255,255,255,1);
  	animation-name: link_apparition;
  	animation-duration: .3s;
  }

  .content {
    display: flex;
    flex-direction: column;
    width: 100vw;
    overflow-x: hidden;
  }

    #right {
    padding: 1vw;
    padding-top: 4vh;
    left: 0vw;
    background-color: black;
    width: 98vw;
    color: white;
    z-index: 0 !important;
    top: 102vh;
    height: 96vh;
    transition: 1s ease-in;
    position: fixed;
    overflow-y: scroll;
  }

  .rightHaut {
    top: 2vh !important;

  }

  .left {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index:  2;
    margin-top: 2vh;
    flex-wrap: wrap;
    width: 100vw;
  }

  .titles {
    width: 95vw;
    margin-bottom: 2vh;
    display: flex;
    flex-direction: column;
  }

  .margin_title {
    padding-top: 7vh;
  }

  .liens {
    width: 3vw;
  }

  .right .titles h1 {
  	font-family: 'Cotham Sans';
    font-size: 13vw;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 3vw;
    margin-top: 10vh;
  }

  .bloc_texte {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 90vw;
    margin-bottom: -2vh;
    padding-top: 0vh;
  }

  .bloc_texte > div {
    padding-top: 0vh;
  }

  .presentations, .philo, .whatwecando, .whatwewanttodo, .crew {
    display: flex;
    flex-direction: column;
    margin-left: 2vw;
  }

  .fr {
    font-family: 'Avara';
  }

  .fr > p, .nl > p, .en > p {
    font-size: 4.5vw;
    font-family: 'Avara' !important;
    margin-left: 2vw;
    padding: 0 !important;
  }

  div.fr {
    font-size: 3.3vw;
    display: inline-block;
  }

  div.nl {
    font-size: 3.8vw;
    margin-bottom: 0.4vh;
    display: inline-block;
  }

  div.en {
    margin-bottom: 0.5vh;
    font-size: 3.7vw;
    line-height: 130%;
    display: inline-block;
  }

  div.en > p {
    line-height: 135%;
  }

  p {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .nl {
    font-family: 'cmunrm';
  }

  .en {
    font-family: 'Cotham Sans';
    line-height: 130%;
  }

  .right .fr,
  .right .nl,
  .right .en {
  	margin-bottom: 5vw;
  }

  .projet_description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 95vw;
    margin-left: 3vw;
    margin-top: 2.5vh;
    margin-bottom: 6vh;
  }

  .images {
    width: 100vw;
    height: 50vh;
    margin-left: -1vw;
    margin-top: 10vh;
    display: flex;
    flex-direction: row;

  }
  .images img {
  	display: inline-block;
  	width: auto;
  	height: 100%;
  }
  .image_details {
  	position: absolute;
  	display: block;
  	background: rgba(255,255,255,.9);
  	padding: 1vw;
  	margin: -16vh .5vw .5vw 2.5vw;
    visibility: hidden;
  }

  p, ul {
    font-size: 4.5vw;
    width: 80vw;
    padding: 1vw;
    list-style-type: none;
  }

  .en > ul > li {
    line-height: 135%;
  }

  .fr > ul > li {
    font-size: 4vw;
  }

  .right li {
    margin-left: 2vw;
  }

  .no_list::before {
    content: " " !important;
  }

  .right li::before {
  	content: "-";
  	position: absolute;
  	margin: 0 0 0 -2vw;
  	color: black;
  }
  .right img.profile {
    margin: 0 2vh 2vh 0;
  	width: 20vw;
  	height: auto;
  	display: none;
  }

   h2 {
    margin-left: 1vw;
    margin-top: 3vh;
  }

  h3 {
    font-family: 'Avara' !important;
    font-size: 4.5vw;
    margin-left: 2vw;
    text-decoration: underline;
  }

  .projet {
    font-family: 'Cotham Sans';
    font-size: 2.5vw;
    padding: 2vw;
    width: 60vw;
    border-bottom: 1px solid black;
  }
}

@font-face {
 font-family: "Cotham Sans";
 src: url("fonts/cothamsans-webfont.woff2") format("woff2"),
      url("fonts/cothamsans-webfont.eot") format("eot"),
      url("fonts/cothamsans-webfont.svg") format("svg"),
      url("fonts/cothamsans-webfont.ttf") format("truetype"),
      url("fonts/cothamsans-webfont.woff") format("woff");
}

@font-face {
 font-family: "Avara";
 src: url("fonts/avara-bold-webfont.woff2") format("woff2"),
      url("fonts/avara-bold-webfont.eot") format("eot"),
      url("fonts/avara-bold-webfont.svg") format("svg"),
      url("fonts/avara-bold-webfont.ttf") format("truetype"),
      url("fonts/avara-bold-webfont.woff") format("woff");
}

@font-face {
 font-family: "cmunrm";
 src: url("fonts/cmunrm-webfont.woff2") format("woff2"),
      url("fonts/cmunrm-webfont.eot") format("eot"),
      url("fonts/cmunrm-webfont.svg") format("svg"),
      url("fonts/cmunrm-webfont.ttf") format("truetype"),
      url("fonts/cmunrm-webfont.woff") format("woff");
}

/*
@font-face {
  font-family: 'fa-solid';
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src: url("fonts/fa-solid-900.eot");
  src: url("fonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("fonts/fa-solid-900.woff2") format("woff2"), url("fonts/fa-solid-900.woff") format("woff"), url("fonts/fa-solid-900.ttf") format("truetype"), url("fonts/fa-solid-900.svg#fontawesome") format("svg");
}
*/

body {
  width:  100vw;
  overflow-x: hidden;
}

body.lang_fr .tabs .buttons div.fr {
	background-color: rgba(0,0,0,1);
	color: #fff;
}
body.lang_fr .menu_wrapper .desc_logo.nl,
body.lang_fr .menu_wrapper .desc_logo.en,
body.lang_fr .tabs .title.nl,
body.lang_fr .tabs .title.en,
body.lang_fr .tabs .links.nl,
body.lang_fr .tabs .links.en,
body.lang_fr .tabs .box .desc.nl,
body.lang_fr .tabs .box .desc.en
{
	display: none;
}

body.lang_nl .tabs .buttons div.nl {
	background-color: rgba(0,0,0,1);
	color: #fff;
}
body.lang_nl .menu_wrapper .desc_logo.fr,
body.lang_nl .menu_wrapper .desc_logo.en,
body.lang_nl .tabs .title.fr,
body.lang_nl .tabs .title.en,
body.lang_nl .tabs .links.fr,
body.lang_nl .tabs .links.en,
body.lang_nl .tabs .box .desc.fr,
body.lang_nl .tabs .box .desc.en
{
	display: none;
}

body.lang_en .tabs .buttons div.en {
	background-color: rgba(0,0,0,1);
	color: #fff;
}
body.lang_en .menu_wrapper .desc_logo.fr,
body.lang_en .menu_wrapper .desc_logo.nl,
body.lang_en .tabs .title.fr,
body.lang_en .tabs .title.nl,
body.lang_en .tabs .links.fr,
body.lang_en .tabs .links.nl,
body.lang_en .tabs .box .desc.fr,
body.lang_en .tabs .box .desc.nl
{
	display: none;
}
