body {
	background-image: url('bg.png');
	background-attachment: fixed;
	background-size: auto;
	background-color: #bbb;
}

a {
	text-decoration: none;
}

#logo {
	position: fixed;
	z-index: 0;
	width: 30vw;
	height: auto;
	left: 0; 
	right: 0; 
	top: 0; 
	bottom: 0; 
	margin: auto;
}
#menu {
	position: fixed;
	z-index: 1000;
	height: 7vw;
	background-color: rgba(255,255,255,.8);
	top: 0;
	left: 0;
	width: 100%;
}
#menu ul,
#menu li {
	list-style: none;
	display: inline-block;
	margin: 0;
	padding: 0;
	vertical-align: top;
}
#menu ul {
	margin: 0 0 0 2vw;
}
#menu li.gap {
	padding-left: 3vw;
}

#menu a {
	display: block;
	width: 10vw;
	color: #000;
	padding: .8vw 1vw 1.2vw 1vw;
}

#menu .logo {
	display: block;
	width: auto;
	font-family: 'Avara';
	font-size: 2vw;
	line-height: 2.2vw;
	text-decoration: none;
}
#menu .logo svg {
	float: left;
	display: block;
	width: auto;
	height: 5vw;
	margin: 0 1vw 0 0;
}
#menu a.logo svg .path { 
	fill: #000;
}
#menu a.logo .titre_logo {
}
#menu a.logo .desc_logo { 
	display: block;
	font-size: 1vw; 
	line-height: 1vw; 
}
@keyframes a_logo_hover {
	from { color: #000; }
	to { color: #e06; }
}
@keyframes svg_logo_hover {
	from { fill: #000; }
	to { fill: #e06; }
}
#menu a:hover {
	background-color: #000;
	color: #fff;
}
#menu a.logo:hover {
	background: none;
	color: #e06;
	animation-name: a_logo_hover;
	animation-duration: .2s;
}
#menu a.logo:hover svg .path { 
	fill: #e06; 
	animation-name: svg_logo_hover;
	animation-duration: .2s;
}


#content {
	position: absolute;
	z-index: 1;
	margin: 7vw 0 0 0;
}

.section {
	width: auto;
	display: inline-block;
	margin: 5vh 0 0 2.5vw;
	padding: 0 0 1vw 0;
	border: .1vw solid #000;
	border-radius: .5vw .5vw 0 0;
	border-right: 0;
	border-bottom: 0;
}
.section h2 {
	width: auto;
	margin: -.1vw 0 0 0;
	padding: 1vw 1vw 1vw 1vw;
	border: .1vw solid #000;
	border-radius: .5vw .5vw .5vw 0;
	border-left: 0;
	background: #fff;
	line-height: 2vh;
}
.section h2 span {
	display: block;
	font-size: 0.7vw;
	clear: both;
	cursor: pointer;
}

.taber {
	width: 92vw;
	height: 60vh;
	margin: 0.9vw 0 0 2vw;
	z-index: 1;
}
.taber:before {
	content: '';
	position: absolute;
	width: 86vw;
	height: 13vw;
	margin: -1vw 0 0 -1vw;
	border: 0.1vw solid #000;
	border-radius: .5vw 0 0 0;
	border-bottom: none;
	border-right: none;
}
.taber_barea {
	position: absolute;
	z-index: 11;
	padding: 0.5vw 0 0 0;
}
.taber_button {
	width: 2vw;
	height: 3vw;
	background-repeat: no-repeat;
	background-size: 3vw 3vw;
	background-color: #fff;
	color: rgba(0,0,0,0);
	margin-top: .2vw;
	border-radius: 0 .5vw .5vw 0;
	border: 0.1vw solid #000;
}
.taber_button:before {
	content: '';
	position: absolute;
	width: 1vw;
	height: 1vw;
	margin: 0.5vw 0 0 -1.1vw;
	border: 0.1vw solid #000;
	border-radius: 0 0 0 .5vw;
	border-top: none;
	border-right: none;
}
.taber_button:hover {
	cursor: pointer;
}
.taber_tarea {
	position: absolute;
	z-index: 10;
	display: flex;
	margin: 0 0 0 2.5vw;
	height: 60vh;
}
.taber_tab {
	width: 2vw;
	overflow: hidden;
	background-blend-mode: hard-light;
	background-image: url('bg.png');
	background-attachment: fixed;
	background-size: auto;
	background-color: #bbb;
	border: 0.1vw solid #000;
	border-radius: 0 .5vw .5vw .5vw;
	margin-right: -1vw;
}
.taber_tab:before {
	content: '';
	position: absolute;
	width: 1vw;
	height: 1vw;
	margin: -1.1vw 0 0 -1.1vw;
	border: 0.1vw solid #000;
	border-radius: 0 .5vw 0 0;
	border-bottom: none;
	border-left: none;
}
.taber_tab.last {
	width: 1vw;
}

.project {
	margin: 1vh 1vw 1vh 1vw;
	display: flex;
}
.project .images {
	display: flex;
	height: 100%;
	overflow-x: auto;
	overflow-y: hidden;
	border-radius: .5vw 0 0 .5vw;
}
.project .images img {
	width: auto;
	height: 57vh;
	background: #000;
}
.project .info {
	height: 57vh;
	margin: 0 1vh 0 0;
	border: 0.1vw solid #000;
	border-left: 0;
	border-radius: 0 .5vw .5vw 0;
}
.project .info .langage {
	position: absolute;
	margin: -0.1vw 0 0 -2.5vw;
	font-size: 1vw;
	cursor: pointer;
}
.taber_tab .info,
.taber_tab.close .info { visibility: hidden; }
.taber_tab.open .info { visibility: visible; }

.project .info .langage div {
	width: 1.2vw;
	border: 0.1vw solid #000;
	border-radius: .5vw;
	text-align: center;
	margin: 0 0 .2vw 0;
	padding: .5vw .5vw .5vw .5vw;
	background: #fff;
}
.project .info .langage div.last { padding-bottom: .5vw; }

@keyframes lang_div_hover {
	from { background: #fff; color: #000; width: 1.2vw; }
	to { background: #000; color: #fff; width: 2vw; }
}
.project .info .langage div:hover {
	width: 2vw;
	background: #000;
	color: #fff;
	animation-name: lang_div_hover;
	animation-duration: .2s;
}

.project .desc {
	height: 1vw;
	overflow: hidden;
	margin: -.1vw -.1vw 0 0;
	background-blend-mode: hard-light;
	background-image: url('bg.png');
	background-attachment: fixed;
	background-size: auto;
	background-color: #fff;
	border: 0.1vw solid #000;
	border-left: none;
	border-radius: 0;
}
.project .desc.first { border-radius: 0 .5vw 0 0; }
.project .desc.last { border-radius: 0 0 .5vw 0; }
.project .desc .content {
	padding: 1vw 1vw 2vw 1vw;
}

.warning {
	max-width: 90vw;
	margin-left: 2vw;
	background-color: #d40;
	padding: 1vw;
	border: .3vw solid #f00;
	border-radius: .5vw;
	color: #fff;
}

/* ----- tabs hover, open and close ----- */

.taber_button.first { border-radius: .5vw .5vw .5vw 0; }
.taber_button.last { border-radius: 0 .5vw .5vw .5vw ; }

@keyframes taber_button_hover {
	from { width: 2vw; background-color: #fff; background-position: 0 0; }
	to { width: 3vw; background-color: #000; background-position: 0.2vw 0; }
}
.taber_button:hover {
	width: 3vw;
	background-position: 0.2vw 0;
	background-color: #000;
	animation-name: taber_button_hover;
	animation-duration: .2s;
}
.taber_button.open,
.taber_button.open:hover {
	width: 3vw;
	background-position: 0.2vw 0;
	background-color: #f00;
	animation-name: none;
}

/* ----- tabs versions ----- */

.taber4 .project .info {
	width: 250px !important;
	display: inline-table;
}

@keyframes taber4_open {
	from { width: 6vw; }
	to { width: 86vw; }
}
@keyframes taber4_close {
	from { width: 86vw; }
	to { width: 6vw; }
}
.taber4.open:before {
	width: 86vw;
	animation-name: taber4_open;
	animation-duration: .4s;
}
.taber4.close:before {
	width: 6vw;
	animation-name: taber4_close;
	animation-duration: .4s;
}
@keyframes taber4_tab_open {
	from { width: 2vw; background-color: #bbb; }
	to { width: 82vw; background-color: #fff; }
}
@keyframes taber4_tab_close {
	from { width: 82vw; background-color: #fff; }
	to { width: 2vw; background-color: #bbb; }
}
@keyframes taber4_tab_last_open {
	from { width: 1vw; background-color: #bbb; }
	to { width: 82vw; background-color: #fff; }
}
@keyframes taber4_tab_last_close {
	from { width: 82vw; background-color: #fff; }
	to { width: 1vw; background-color: #bbb; }
}
.taber4 .taber_tab.close,
.taber4 .taber_tab.last.close {
	width: 2vw;
	background-color: #bbb;
	animation-name: taber4_tab_close;
	animation-duration: .4s;
}
.taber4 .taber_tab.last.close {
	width: 1vw;
	animation-name: taber4_tab_last_close;
}
.taber4 .taber_tab.open,
.taber4 .taber_tab.last.open {
	width: 82vw;
	background-color: #fff;
	animation-name: taber4_tab_open;
	animation-duration: .4s;
}
.taber4 .taber_tab.last.open {
	animation-name: taber4_tab_last_open;
}

/* ----- langage version ----- */

body.lang_fr .section h2 span.lang_fr,
body.lang_nl .section h2 span.lang_nl,
body.lang_en .section h2 span.lang_en {
	font-size: 2.5vw;
	line-height: 5.5vh;
}
body.lang_fr .langage .lang_fr,
body.lang_nl .langage .lang_nl,
body.lang_en .langage .lang_en {
	border-right: none;
	width: 1.5vw;
	border-radius: .5vw 0 0 .5vw;
}
body.lang_fr .project .info .langage div.lang_fr:hover,
body.lang_nl .project .info .langage div.lang_nl:hover,
body.lang_en .project .info .langage div.lang_en:hover {
	width: 1.5vw;
	animation-name: none;
	background: #fff;
	color: #000;
}
body.lang_fr .info .lang_fr.desc,
body.lang_nl .info .lang_nl.desc,
body.lang_en .info .lang_en.desc {
	height: auto;
	max-height: 53vh;
	overflow-x: hidden;
	overflow-y: auto;
	scroll-padding-top: 0;
	background: #fff;
}

body .lang_fr { font-family: "Avara"; }
body .lang_nl { font-family: "Cotham Sans"; }
body .lang_en { font-family: "cmunrm"; }

@font-face {
 font-family: "Cotham Sans";
 src: url("fonts/cothamsans-webfont.woff2") format("woff2"),
      url("fonts/cothamsans-webfont.eot") format("eot"),
      url("fonts/cothamsans-webfont.svg") format("svg"),
      url("fonts/cothamsans-webfont.ttf") format("truetype"),
      url("fonts/cothamsans-webfont.woff") format("woff");
}

@font-face {
 font-family: "Avara";
 src: url("fonts/avara-bold-webfont.woff2") format("woff2"),
      url("fonts/avara-bold-webfont.eot") format("eot"),
      url("fonts/avara-bold-webfont.svg") format("svg"),
      url("fonts/avara-bold-webfont.ttf") format("truetype"),
      url("fonts/avara-bold-webfont.woff") format("woff");
}

@font-face {
 font-family: "cmunrm";
 src: url("fonts/cmunrm-webfont.woff2") format("woff2"),
      url("fonts/cmunrm-webfont.eot") format("eot"),
      url("fonts/cmunrm-webfont.svg") format("svg"),
      url("fonts/cmunrm-webfont.ttf") format("truetype"),
      url("fonts/cmunrm-webfont.woff") format("woff");
}
